---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <br>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}. {% if post.categories.first != null %}Posted in: {% for category in post.categories %}<a href="{{ site.baseurl }}/categories.html#{{ category }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}</span>
        <hr id="line">
		<div class="content">
		{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %}
        </div>
		<br>
      </li>
    {% endfor %}
  </ul>
</div>
