<header class="header">
	<div class="header-container">
		<div class="nav">
			<span class="title">
				<li>
					{{ site.title }}
				</li>
			</span><br/>
			{% if page.path == "index.html" %}
			<span class="title"><li>
				<a href="{{ site.baseurl }}/index.html">blog</a>
			</li></span>
			{% else %}
			<li>
				<a href="{{ site.baseurl }}/index.html">blog</a>
			</li>
			{% endif %}
			{% for thepage in site.pages %}{% if thepage.title %}
			{% if thepage.title == page.title %}
			<span class="title">
				<li>
					<a href="{{ thepage.url | prepend: site.baseurl }}">{{ thepage.title }}</a>
				</li>
			</span>
			{% else %}
			<li>
				<a href="{{ thepage.url | prepend: site.baseurl }}">{{ thepage.title }}</a>
			</li>
			{% endif %}
			{% endif %}
			{% endfor %}
		</div>
		<div class="description"> {{ site.motto }} </div>
		<ul class="social-links">
			<li>
				<a href="https://github.com/{{ site.github_username }}" title="Github">
					<img width="19px" height="19px" src="/images/github.png"/></a>
			</li>
			<li>
				<a href="/feed.xml" title="RSS">
					<img width="19px" height="19px" src="/images/rss.png"/></a>
			</li>
			{% if site.twitter_username %}
			<li>
				<a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
					<img width="19px" height="19px" src="/images/twitter.png"/></a>
			</li>
			{% endif %}
		</ul>
	</div>
</header>
