---
layout: default
---
<div class="post">
  <br>
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
      {% if page.categories.first != null %}<br />Categories» {% for category in page.categories %}<a href="{{ site.baseurl }}/categories/#{{ category }}">{{ category }}</a>{% unless forloop.last %} | {% endunless %}{% endfor %}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>
